*
!*/

!.vscode/settings.json

!cgi-bin/*.py

!experiments/*.[ch]pp
!experiments/cgi.py
!experiments/in.txt
!experiments/webserv.json

!fuzzing/scripts/*.sh
!fuzzing/src/*.cpp
!fuzzing/tests/*.txt
!fuzzing/Dockerfile
!fuzzing/Makefile

!nginx/Dockerfile
!nginx/nginx.conf

!public/index.html

!rfcs/*.pdf

!src/*.[cht]pp

!tests/config_exceptions/*.conf
!tests/sent/*.txt
!tests/working/*.conf

!YoupiBanane/**

!./.gitignore
!./fn_descriptions.c
!./Makefile
!./README.md
!./subject.pdf
!./TODO.md
!./webserv.conf
