*
!*/
!.vscode/settings.json
!cgi-bin/*.py
!experiments/*.[ch]pp
!experiments/cgi.py
!experiments/in.txt
!public/index.html
!rfcs/*.pdf
!src/*.[ch]pp
!tests/1_line.txt
!tests/1k_lines.txt
!tests/1m_lines.txt
!tests/2_lines.txt
!tests/10_lines.txt
!tests/10k_lines.txt
!tests/100_lines.txt
!tests/100k_lines.txt
!tests/empty.txt
!tests/null.txt
!YoupiBanane/**
!.gitignore
!Dockerfile
!fn_descriptions.c
!Makefile
!nginx.conf
!README.md
!subject.pdf
!TODO.md
